.containerCalc{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 10%;
}

.texto{
    width: 50%;
    height: 70vh;   
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url('https://thumbs.dreamstime.com/b/figura-com-ponto-de-interroga%C3%A7%C3%A3o-9068618.jpg' );
}

.form{
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
}

.form input{
    margin:1% 2% 2% 2%;
    height: 25px;
    border-radius: 10px;
    border: 2px solid #5acbda;
}

.form label{
    margin: 1%;
}

.organizador{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.organizador h1{
    text-align: center;
    margin-bottom: 4%;
}

.conteudoCalc{
    display: flex;
    flex-direction: row;

}

