*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    position: fixed;
    background-color: #ffffff99;
    padding: 20px;
    width: 100%;
    height: 30px;
    margin-top: -25px;
    

}

.logo{
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
}

.sair{
    padding: 5px;
    background-color: #5acbda;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #ffff;
    transition: 0.5s;
    transition-property: background;
}

.sair:hover{
    background-color: #42baca;
}

.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background-color: #ffffff99;
    transition: 0.5s;
    transition-property: left;

}

.sidebar .image{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.sidebar h2{
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{

    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left:40px ;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background-color: #42baca ;
}

.sidebar ion-icon{
    padding-right: 10px ;
    color: #4e5152

}

.sidebar span{
    color: black;
}

label #btnSide{
    z-index: 1;
    position: fixed;
    left: 190px;
    color: 4e5152;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
    align-items: center;

}

label #btnSide:hover{
    color:#42baca;
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

#check{
    display: none;
}

.containerGeral{
    height: 100vh;
    transition: 0.5s;
    
}

#check ~ .containerGeral{
    margin-left: 70px;
}

.logo{
    width: min-content;
    display: flex;
    justify-content:center; /* horizontal*/
    align-items: center; /* vertical*/
}

.logo img{
    width: 2vw;
}

.logo span{
    font-style:oblique;

}


