
body{
    margin:0;
    min-height: 100vh;
    background-color: #FFEEDB;

}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    background-color: #A53860;
}

.botoes > button{
    background-color: #ADA8B6 ;
    text-align: center;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    width: 200px;
    height: 28px;
    font-weight: bold;
    /* Box-shadow cria um efeito sombreado no elemento */
    box-shadow: 2px 3px 5px black;
}


.logo{
    width: 33%;
    text-align: left;
    padding-top: 1%;
    padding-left: 5%;
}

.logo img{
    width:100px;
}

.lista{
    width: 34%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.botoes {
    margin-right: 0;
    width: 33%; 
    text-align: center;
    padding-right: 1%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

li{
    padding: 5px;

}

.corpo{
    background-color: #192647;
    /* O atributo Linear-gradient cria um degradê entre duas cores */
    background-image: linear-gradient(#192647, #252b39);
    height: 100vw;
    margin: 0;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.btn{
    background-color: #2d599b ;
    text-align: center;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    width: 200px;
    height: 28px;
    font-weight: bold; 
    box-shadow: 2px 3px 5px black;
}

.banner{
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-image: url('img/staffopaco.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

.conteiner{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;

}

.conImg{
    width: 50%;
    height: 100%;
    margin: 0; 
    background-color: #A53860;
}

.conImg .imagem{
    background-image: url('img/remedio.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0%;
}



.conImg .imagem2{
    background-image: url('img/medkit.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0;
}

.conCont{
    display: flex;
    padding: 2%;
    width: 50%;
    margin:0;
    font-size: 21px;
    align-items: center;
    justify-content: center;
}
