.dash{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;



}

.grafico{

    width: 95vh;
    display: flex;
    flex-direction: column;
    


}

.contGraf h3{

    padding: 1%;
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 2%;

}

.contKpi{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    float: right;


}

.cont{
    color:#fff;
    padding: 1%;
    width: 8%;
    text-align: center;
    border-radius: 10px;
    

}

.cont h1{

    padding: 2%;
    
}

.cont1{
    color:#fff;
    background-color: #56BF80;
    padding: 1%;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    margin-top: 2%;

}

.cont2{
    color:#fff;
    background-color: #56BF80;
    padding: 1%;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    margin-top: 2%;

}

.cont3{
    color:#fff;
    background-color: #56BF80;
    padding: 1%;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    margin-top: 2%;

}

.cont4{
    color:#fff;
    background-color: #C2F788;
    padding: 1%;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    margin-top: 2%;

}

.containerdash{

    float:left;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-left: 10%;
    
}

.conteudoDash{
    
    width: 100%;
    height: 100vh;
    align-items: center;

}