.logo{
    align-items: center;
    position: fixed;
    margin: 1% 0 0 2%;
}

.logo img{
    width: 50%;
}


.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border-top: 2px solid #42baca;
    border-bottom: 2px solid #42baca; */
    justify-content: center;
    align-items: center;
    width: 40%;
    padding:2%;
}


.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.formulario h1{
    font-weight: 300;
    margin-bottom: 2%;
    white-space: nowrap;
}


.campo{
    margin-top: 1%;
    margin-bottom: 2%;
    width: 100%;
}


.campo input{
    /* border-radius: 5px; */
    font-size: 16px;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    margin-top: 5%;    
    border:none;
    border-bottom: 1px solid;
}

.campo input:focus{
    outline: 0;
}


.campoCheck{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    margin-top: 3%;
    font-size: 13px;
}

.campoCheck p{
    color:red;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    white-space: nowrap;
    gap:3%
}

.campoCheck a{
    text-decoration:none;
}

.checkbox input{
    height: 2%;
}


.button2{
    margin-top: 5%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 .login{
    width: 100%;
}


.degrade{
    position: fixed;
    width: 10%;
    left: 40%;
    height: 100%;
    background-image: linear-gradient(to right, #fff , #fff, rgba( 255, 255, 255, 0.6), transparent);
    z-index: 1;
}



.capa{
    width: 60vw;
    height: 100vh;
    background-image: url('../imgs/medicamentosOnco.jpg'); 
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}


.capa img{
    width: 50%;
    height: 100%;
    background-repeat:round;
    margin: 0;
}
