* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    height: 100%;
}

a{
    text-decoration: none;
    color:#000;
}

li{
    margin: 10px;
    list-style: none  ;
}
header{
    margin-top: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
li{
    
    display: inline-block;
}

a{
    color:#2c2c2c;
}
a:hover{
    color: #5acbda;
    transition: 0.3s all;
}


.navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
}


.logo{
    width: min-content;
    display: flex;
    justify-content:center; /* horizontal*/
    align-items: center; /* vertical*/
}

.logo img{
    width: 2vw;
}

.menu{
    display: flex;
    list-style: none;
    width: 45%;
    justify-content: space-between;
}


.button{
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: flex-end;
}

.login, .logout{
    width: 5vw;
    height: 4vh;
    border-radius: 10px;
    border: 2px solid #5acbda;
}


.login{
    background-color:#fff;
    transition: 0.5s;
}

.login:hover{
    background-color:#eee;
    transition: 0.5s;
    cursor:pointer;
}

.logout{
    color: #eee;
    background-color: #5acbda;
    cursor:pointer;
    transition: 0.5s;
}

.logout:hover{
    background-color: #42baca;
    transition: 0.5s;
}

hr{
    width: 90%;
    margin: 2% 5% 0;
}


.apresentacao, .sobreNos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;

}

.apresentacao{
    margin-top: 2%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.apresentacao .imagemModelo{
    height: 100%;
    width: 40%;
    background-image: url("../imgs/imagemModelo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.textoPrincipal{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}



.textoPrincipal a{
    margin-top: 7%;
    font-size: 2rem;
    font-weight: 400;
}



.title{
    font-weight: 300;
    font-size: 2.5rem;
}

.textoChamativo{
    color:#5acbda;
}


.imagemModeloBaixo{
    display: flex;
    align-items: flex-end;
    height: 100%;
   
}

.apresentacao img{
    height: 20%;
}


.sobreNos{
    display: flex;
    flex-direction: column;
    background-color: #5acbda2c;
}
.comoFunciona{
    display: flex;
    justify-content: center;
    background-color: #5acbda2c;
    height: 80vh;
}


.apresentacaoIdeais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.centralizadoBaseline{
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: min-content;

}

.ideais{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: justify;
    line-height: 3rem;
    font-size: 1rem;
    padding: 1%;
}

.ideais img{
    width: 50%;
}




footer{
    margin-top: 10%;
    width: 100%;
    height: 20vh;
    background-color: #169cad;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato{
    height: 50%;
}

.titleFooter{
    color:#fff;
    
}

.filho{
    margin: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 75px 700px; */
    display: flex;
    /* background-image: url("https://blog.vindi.com.br/wp-content/uploads/2020/09/servicos-cloud-scaled.jpg");
    background-size:cover ;
    background-repeat: no-repeat; */
}
/* .neto{
    background-image: url("../imgs/tecnologia.jpg");
    background-size: cover;
    height: 100px;
    padding: 10px;
    list-style: none;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    /* justify-content: center; */

/* } */

.apresentacao .imagemServicos{
    background-image: url("../imgs/servicos.jpg");
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.apresentacao img{
    height: 20%;
    justify-content: space-between;
}

.ideais{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: 80vh;
}

.ideais img{
    /* width: 50%; */
    height: 300px;
    margin:  10px;
}
.apresentacaoservicos{
    background-color: #5acbda2c;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;

    
    justify-content: space-between;
}

    


