.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    height: 50vh;
    width: 100%;
}


.formulario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: solid #42baca; */
    border-top: 2px solid #42baca;
    border-bottom: 2px solid #42baca;
    /* border-radius: 10px; */
    padding:2%
}

.campo{
    margin: 5% 0;
}

.campo input{
    border-radius: 5px;
    padding: 7px;
}

.button2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    position:fixed;
    bottom: 0;
}